.modalForm {
  padding: 20px 20px;
  max-width: 260px;
}

.modalForm input {
  padding: 10px;
  border-radius: 12px;
  background-color: gainsboro;
  border: none;
  margin: 4px 0;
  width: 90%;
}
.modalForm label {
  color: gray;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 50px;
}
.modalForm .button-wrapper {
  text-align: right;
}

@media screen and (min-width: 550px) {
  .modalForm input {
    padding: 15px;
  }
}
