.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10000;
  width: 60%;
  height: auto;
  max-width: 280px;
  border-radius: 12px;
}
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-window .icon {
  position: absolute;
  right: 2%;
  top: 2%;
  color: brown;
  font-size: 20px;
}
