@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 48px;
}
body {
  background-color: rgb(255, 255, 255); 
  
}

.App img {
  max-width: 200px;
  height: auto;
}

h2,
h3,
h1,
p span {
  color: rgb(102, 85, 85);
  font-family: "Poppins", sans-serif;
}

.welcome-screen {
  max-width: 260px;
  margin: 0 auto;
}
